Git/jsf-hibernate-soap-int-by-gauri/src/main/resources/wsdl/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.concretepage.com/employee-ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.concretepage.com/employee-ws" targetNamespace="http://www.concretepage.com/employee-ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.concretepage.com/employee-ws">

	<xs:element name="getEmployeeByNameRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEmployeeByNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAllEmployeesByNameRequest">
		<xs:complexType/>
	</xs:element>
	<xs:element name="geAllEmployeesByNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="employeeInfo">
		<xs:sequence>
			<xs:element name="employeeId" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address" type="xs:string"/>
			<xs:element name="department" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="employeeStatus">
		<xs:sequence>
			<xs:element name="statusCode" type="xs:string"/>
			<xs:element name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="addEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="address" type="xs:string"/>
				<xs:element name="department" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addEmployeeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeStatus" type="tns:employeeStatus"/>
				<xs:element name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeInfo" type="tns:employeeInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateEmployeeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeStatus" type="tns:employeeStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteEmployeeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteEmployeeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employeeStatus" type="tns:employeeStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEmployeeByNameRequest">
    <wsdl:part element="tns:getEmployeeByNameRequest" name="getEmployeeByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="geAllEmployeesByNameResponse">
    <wsdl:part element="tns:geAllEmployeesByNameResponse" name="geAllEmployeesByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmployeeRequest">
    <wsdl:part element="tns:updateEmployeeRequest" name="updateEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmployeeResponse">
    <wsdl:part element="tns:updateEmployeeResponse" name="updateEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllEmployeesByNameRequest">
    <wsdl:part element="tns:getAllEmployeesByNameRequest" name="getAllEmployeesByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployeeResponse">
    <wsdl:part element="tns:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployeeRequest">
    <wsdl:part element="tns:addEmployeeRequest" name="addEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmployeeResponse">
    <wsdl:part element="tns:deleteEmployeeResponse" name="deleteEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEmployeeRequest">
    <wsdl:part element="tns:deleteEmployeeRequest" name="deleteEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeByNameResponse">
    <wsdl:part element="tns:getEmployeeByNameResponse" name="getEmployeeByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="getEmployeeByName">
      <wsdl:input message="tns:getEmployeeByNameRequest" name="getEmployeeByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getEmployeeByNameResponse" name="getEmployeeByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geAllEmployeesByName">
      <wsdl:output message="tns:geAllEmployeesByNameResponse" name="geAllEmployeesByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input message="tns:updateEmployeeRequest" name="updateEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateEmployeeResponse" name="updateEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployeesByName">
      <wsdl:input message="tns:getAllEmployeesByNameRequest" name="getAllEmployeesByNameRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <wsdl:input message="tns:addEmployeeRequest" name="addEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <wsdl:input message="tns:deleteEmployeeRequest" name="deleteEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteEmployeeResponse" name="deleteEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmployeeByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getEmployeeByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeeByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geAllEmployeesByName">
      <soap:operation soapAction=""/>
      <wsdl:output name="geAllEmployeesByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployeesByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllEmployeesByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="addEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8080/soapws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>